<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Coronamap by ddol</title>
    <link rel="stylesheet" href="/stylesheets/style.css" /> <!--css 파일 연동-->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=84o5f9r0o7"></script>
</head>
<body>
  <div id="navbar">coronamap by ddol</div>
  <div id="infoBox">
    <div id="infoTitle">현재날짜</div>
    <div id="infoContent">2020.09.13</div>
  </div>
  <div id="current">현재 위치</div>
<div id="map" style="width:100%;height:100vh;"></div>

<script type="text/javascript" src="/data/data.js"></script> <!--js 연동-->
<script>
var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10
};

var map = new naver.maps.Map('map', mapOptions);
var markerList=[]; 
var infowindowList=[];

for(var i in data){
  var target=data[i];
  var latlng=new naver.maps.LatLng(target.lat, target.lng);
  marker=new naver.maps.Marker({
    map: map, /*map 변수 위에*/
    position: latlng, /*마커 위치*/
    icon: {
      content: "<div class='marker'></div>", /*마커 클래스 css에 정의*/
      anchor: new naver.maps.Point(12, 12) /*중심 좌표 설정 높낮이 24*/
    }
  });
  var content=`<div class='infowindow_wrap'>
      <div class='infowindow_title'>${target.title}</div>
      <div class='infowindow_content'>${target.content}</div>
      <div class='infowindow_date'>${target.date}</div>
  </div>` /*백틱 사용하여 string 출력 ${변수}, 마커 클릭하면 나오게 될 정보*/  

  var infowindow = new naver.maps.InfoWindow({
    content: content,
    backgroundColor: "#00ff0000",
    borderColor: "#00ff0000",
    anchorSize: new naver.maps.Size(0, 0), /*말풍선형태*/
  })
  markerList.push(marker);
  infowindowList.push(infowindow);
}
function getClickHandler(i){
  return function(){
    var marker=markerList[i];
    var infowindow=infowindowList[i];
    //infowindow 지도에 표시
    if(infowindow.getMap()){ //infowindow가 띄워졌는지 bool
      infowindow.close();
    }
    else{
      infowindow.open(map, marker); //marker 위에 infowindow 열림
    }
  }
}

function ClickMap(i){
  return function(){
    var infowindow=infowindowList[i];
    infowindow.close();
  }
}
for(var i=0, ii=markerList.length; i<ii; i++){
  naver.maps.Event.addListener(markerList[i], "click", getClickHandler(i)); /*click event*/
  //marker click하면 getClickHandler 실행
  naver.maps.Event.addListener(map, "click", ClickMap(i)); //map click하면 ClickMap 실행
}
</script>
</body>
</html>