body {
  padding: 0px !important;
  margin: 0px !important;
}

#navbar{
  height: 40px; /* 높이 지정*/
  width: 100%; /*너비 지정*/
  background:#F7D358;
  color: white; /*font color*/
  font-weight: bolder; /*두께*/ 
  font-weight: 25px;
  display: flex; /*수직*/
  justify-content: center;
  align-items: center; /*가운데 정렬*/
}

#infoBox{
  position: absolute; /* 지도 위에 */
  top: 100px;
  z-index: 10000; /* 지도가 기본적으로 1000이므로 1000보다 큰 수*/
  background: skyblue;
  left: 10px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.2); /*테두리(0.2: 투명도)*/
  border-radius: 10px; /*둥글게*/
  text-align: center;
}

#infoTitle{
  font-size: 15px;
  font-weight: bolder;
}

.marker{
  border: 1px solid black; 
  background: red;
  opacity: 0.6;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}